<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="true" productName="Graph.Cms.Ui" version="1.0.25" clientResourceRelativePath="1.0.25" authorizationPolicy="GraphCmsUiAdmin">
  <assemblies>
    <add assembly="Gulla.Optimizely.Graph.Cms.Ui" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
